.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 400ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong{
  color: #141414;
}

.empresa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  ;
}

.empresa::before {
  content: '' ;
  display: block;
  width: 4px;
  height: 40px;
  background: linear-gradient(#1C96DA, #50BDFA);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 20px;
  left: -100px;
  color:#525252;
  font-size: 0,875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: start;
  background: #f5f5f5;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border: 4px;
  background: #ffffff;
  padding: 5px 10px;
}