.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  position: relative;
}

.introdução img {
  border-radius: 10px 0 ;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  left: -40px;
  top: -15px;
  z-index: -1;
}

.introducao p {
  font-size: 1rem;
  color: #525252;
}

.introducao div {
  display: flex;
  flex-direction: column; /* Organiza o texto e os botões em coluna */
  align-items: flex-start; /* Alinha os itens à esquerda */
}

.introducao .btn-container {
  display: flex;
  gap: 20px; 
  flex-direction: row;
  flex-wrap: wrap; 
  margin-top: 10px;
}

.separador {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 21.5px;
}

.footer-contato {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.btn-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #0073b1; /* Azul do LinkedIn como base */
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-contato:nth-child(1) { background-color: #0073b1; }
.btn-contato:nth-child(2) { background-color: #0073b1; }
.btn-contato:nth-child(3) { background-color: #0073b1; }
.btn-contato:nth-child(4) { background-color: #0073b1; }

.btn-contato:hover {
  opacity: 0.8;
}


  
@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
  
}

@media (max-width: 800px) {
  .introducao  {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 35px;
    height: 10px;
    left: 0px;
  }

  .introducao img {
    width: 60%;
   }

  .separador img {
     display: none;
  }
}


@media (max-width: 500px) {
 .introducao {
  grid-template-columns: 1fr;
 }

 .introducao img {
  display:  none;
 }
}


